# Ignore Python virtual environment
.venv/

# Ignore all files inside CV/ folder
# CV/*

# Ignore all files inside logs/ folder
logs/*

# Ignore all files inside parsed_data/ folder
parsed_data/*

# Ignore __pycache__ folders everywhere
__pycache__/
*/__pycache__/
**/__pycache__/

# Ignore text_extract folder
text_extract/

# Ignore prototype folder
prototype/